*{
    margin: 0;
    font-family: Arial;
    border: border-box;
}

.nav-address-search {
    display: flex;
    align-items: center;     
    margin-left: 20px;
}

.navbar{
    height: 60px;
    background-color: #000000;
    color: white;
    display: flex;
    align-items: center;
    padding: 0 20px;
    justify-content: space-evenly;
    
}

.nav-logo{
    height: 50px;
    width: 10px;
}
.logo{
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 60px;
    width: 100%;
}
.border{
    border: 1px solid transparent;
}

.border:hover{
    border: 1px solid white;
}

.add-first{
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 15px;
}

.add-sec{
    font-size: 1rem;
    /* margin-left: 3px; */
}
.add-icon{
    display: flex;
    align-items: center;
    margin-left: 4px;
}
.nav-search{
    display: flex;
    justify-content: space-evenly;
    background-color: pink;
    width: 690px;
    height: 40px;
    border-radius: 3px;
}
.nav-search:hover{
    border: 2px solid orange;
}


.search-select{
    background-color: #f3f3f3;
    width: 60px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}
.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}
.search-icon{
    width: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: black;
    border: 1px solid rgb(255, 191, 0);
    background-color: rgb(255, 200, 0);
}

span{
    font-size: 0.75rem;

}

.nav-sec{
    font-size: 0.75rem;
    font-weight: 700;
}
.nav-address {
    margin-right: 20px;
}
.nav-cart i{
    font-size: 20px;

}

.nav-cart{
    font-size: .85rem;
    font-weight: 700;
    padding: 0 10px;
}

.panel{
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}

.panel-ops p{
    display: inline;
    margin-left: 15px;
    font: 14px ;
    
}
.panel-ops{
    width: 70%;
    font-size: .85rem;
    
}
.panel-deals{
    font-size: .9rem;
    font-weight: 700;
}

/* hero section */
.hero-section{
    background-image: url("hero-image.jpg");
    background-size: cover;
    height: 350px;
    display: flex;
    align-items: end;
    justify-content: center;
    /* margin-right: 50px; */
}

.hero-msg{
    background-color: white;
    color:black;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
    width: 95%;
    margin-bottom: 15px;
}
.hero-msg a{
    color: #007185;
    }
.hero-msg a:hover{
    color: #0b2845;
}

/* shop section */
.section-shop{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}
.box{
    border: 2px solid transparent;
    height: 400px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;
}
.box-img{
    height: 300px;
    /* width: 80%;  */
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 1rem;
    margin-bottom: 1rem ;

}
.box-content{
    margin-left: 1rem;
    margin-right: 1rem;
}
.box-content p{
    color: #007185;
}

/* footer */

footer{
    margin-top: 15px;
}
.foot-panel1{
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
}
.foot-panel2{
    height: 320px;
    background-color: #222f3d;
    color: white;
    display: flex;
    justify-content: space-evenly;
}
ul{
    margin-top: 35px;
}

ul a{
    font-size: 0.85rem;
    display: block;
    margin-top: 10px;
    color: #DDDDDD;
}
p{
    font-weight: 700;
}

.foot-panel3{
    background-color: #222f3d;
    color: white;
    border-top: 0.1px solid white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-bottom: 20px; */
}
.logo{
    background-image: url("amazon_logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 50px;
    width: 120px;
    margin-top: 15px;
}
.foot-panel4{
    background-color: #0f1111;
    color: white;
    height: 80px;
    font-size: .7rem;
    text-align: center;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
.pages{
    padding: 25px;
}